.container-fluid {
    overflow: hidden;
    color: #ababab;
    background-color: #313639;
    border-color: #ababab;
    display: block;
}

.public-column {
    margin-top: 20px;
}

.mg-top-25 {
    margin-top: 25px !important;
}

.public-column ul li{
    list-style-type: none;
    text-align: left;
    margin: 15px 20px 5px;
}
