.container-main-home {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
}

.content {
    float: left;
}

.main-content {
    width: 75%;
    float: right;
}

.clear-float {
    clear: both;
}

.featured-products {
    text-align: center;
}

.accent-color {
    line-height: 32px;
    font-family: 'Aguafina Script';
    text-align: center;
}

.sort-products {
    margin-top: -10px;
}

.sort-products-item {
    display: inline-block;
}

.row-products {
    margin-bottom: 50px;
}

.page-numbers {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-clip: border-box;
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 700px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.different-page-numbers:hover {
    color: #fff;
    background-color: #333;
}

.pagination-main-content {
    font-size: 0;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.page-numbers.page-current {
    color: #fff;
    background-color: #333;
}

/* @media only screen and (max-width: 768px) {
    .content {
        display: none;
    }
} */