.nav-bar {
    margin-top: 20px;
}

.row-button {
    display: inline-block;
}

.search {
    width: 150px;
    margin-top: 20px;
}

.container-nav-bar {
    text-align: center;
}

.title {
    margin: 20px;
}

.button {
    margin-top: 23px;
}

.button-cart {
    margin-right: 5px;
}

.button-item {
    height: 25px;
    line-height: 0 !important;
    margin-right: 3px;
    background: #ECEBEB;
    border-radius: 100px;
}
