.product-item-inner {
    position: relative;
    border: 1px solid #efefef;
    transition: all .3s;
    width: 272px; 
    box-sizing: border-box;
    /* height: 330px; */
}

/* .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
} */

/* .product-thumb {
    margin-bottom: 0px;
    position: relative;
} */

.product-name {
    text-align: center;
}

.gsf-link {
    color: #333333;
    font: 18px "nunito sans"
}

.price-amount {
    color: #696969;
    font: 16px "montserrat";
}

.product-thumb {
    position: relative;
    margin-bottom: 0;
}

.product-heading {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 0;
    margin-top: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(70%);
}

.product-meta {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 60px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(70%);
    text-align: center;
    top: 270px;
}

.product-action-item {
    /* position: absolute; */
    z-index: 3;
    /* left: 95px; */
    text-align: center;
}

.heading-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #333333;
    font-family: Nunito Sans;
    font-weight: 900;
    font-style: normal;
}

.add-to-card-button {
    display: block;
    padding: 10.5px 20px;
    background-color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .05em;
}

a {
    color: #333333;
}

.img-responsive {
    width: 270px;
    display: block;
}



